{% extends 'Reviewer_templates/reviewer_header.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>

    <div class="page-header">
        <div class="container">
            <div class="page-header-inner">
                <ol class="breadcrumb wow fadeInDown" data-wow-delay="300ms">
                    <li><a href="{% url 'reviewer_home' %}">Home</a></li>
                    <li class="page">Notice</li>
                </ol>
                <h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
                    Notice
                </h1>
            </div>
        </div>
    </div>


    <section id="content" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    
                    <div id="comments">
                        <ol class="comments-list">
                            <li>
                                <div class="comment-box clearfix">
                                        <div class="comment-meta">
                                            <h4 class="comment-by">
                                                <a href="#">John Doe</a>
                                            </h4>
                                            <span class="comment-date">August 27,2016 at 02:30am | <a href="#"
                                                    class="reply-link"><i class="icon-action-undo"></i></a></span>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                                
                            </li>
                            
                        </ol>
                        
                    </div>

                </div>

            
            </div>
        </div>
    </section>

</body>

</html>
{% endblock content %}