{% extends 'Researcher_templates/researcher_header.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>
	<div class="page-header">
        <div class="container">
            <div class="page-header-inner">
                <ol class="breadcrumb wow fadeInDown" data-wow-delay="300ms">
                    <li><a href="{% url 'researcher_home' %}">Home</a></li>
                    <li class="page">Change Password</li>
                </ol>
                <h1 class="page-title wow fadeInRight" data-wow-delay="300ms">
                    Change Password
                </h1>
            </div>
        </div>
    </div>
    

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" name='researcher_change_password'  method="POST" action="{% url 'researcher_change_password' %}">
					{% csrf_token %}
					
					<img style="width: 390px;height: 200px;" src="{% static 'img/KS-logo.png' %}" alt="AVATAR">
					<div class="mx-auto" style="width: 200px;height: 30px;"></div>


					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter Old Password">
						<input class="input100" type="password" name="l_old_pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
						<span class="focus-input100" data-placeholder="Enter Old Password"></span>
					</div>
					<div class="mx-auto" style="width: 200px;height: 25px;">

					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter New Password">
						<input class="input100" type="password" name="l_new_pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
						<span class="focus-input100" data-placeholder="Enter New Password"></span>
					</div>
					<div class="mx-auto" style="width: 200px;height: 40px;">

					</div>

                    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter New Confirm Password">
						<input class="input100" type="password" name="l_new_confirm_pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
						<span class="focus-input100" data-placeholder="Enter New Confirm Password"></span>
					</div>
					<div class="mx-auto" style="width: 200px;height: 40px;">

					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Update
						</button>
					</div>
					<div class="mx-auto" style="width: 200px;height: 40px;">

					</div>
					
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

{% if msg %}
	{% ifequal msg 'Old Password Is Incorrect' %}
	<script>
		Swal.fire(
			'',
			'{{msg}}',
			'error'
		)
	</script>
	{% endifequal %}
	{% ifequal msg 'Please Enter Different Password' %}
	<script>
		Swal.fire(
			'',
			'{{msg}}',
			'info'
		)
	</script>
	{% endifequal %}
	{% ifequal msg 'New Password And Confirm Password Is Not Matched' %}
	<script>
		Swal.fire(
			'',
			'{{msg}}',
			'error'
		)
	</script>
	{% endifequal %}
{% endif %}

</body>

</html>
{% endblock content %}