{% extends 'header.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" method="POST" action="{% url 'forget_password' %}">
					{% csrf_token %}
					<span class="login100-form-title p-b-70">
						Reset Password
					</span>
					
					<!-- <span class="login100-form-avatar">
						<img src="{% static 'img/KS-logo.png' %}" alt="AVATAR">
					</span> -->
					<img style="width: 390px;height: 200px;" src="{% static 'img/KS-logo.png' %}" alt="AVATAR">

					<div class="mx-auto" style="width: 200px;height: 30px;"></div>

				
					<input type="hidden" name="email" value="{{email}}">
					<input type="hidden" name="role" value="{{role}}">

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter New Password" >
						<input class="input100" type="password" name="npass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
						<span class="focus-input100" data-placeholder="Enter New Password"></span>
                    </div>
                    <div class="mx-auto" style="width: 200px;height: 30px;">
                        
					</div>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter Confirm Password">
						<input class="input100" type="password" name="cpass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
						<span class="focus-input100" data-placeholder="Enter confirm Password"></span>
					</div>
					
					<div class="mx-auto" style="width: 200px;height: 20px;"></div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Change Password
						</button>
					</div>
					<div class="mx-auto" style="width: 200px;height: 40px;">

					</div>
                    
                </form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>
{% if msg %}
	{% ifequal msg 'Password does not match!' %}
	<script>
		Swal.fire(
			'',
			'{{msg}}',
			'error'
		)
	</script>
	{% endifequal %}
{% endif %}

</body>

</html>
{% endblock %}